.login-form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.login-form-box {
  width: 500px;
  padding: 30px;
  background: #ffffff;
  max-width: 384px;
  margin: 0px auto 28px auto;
  border: 1px solid #dedede;
  border-radius: 2px;
  text-align: left;
  display: flex column;
  justify-content: center;
  align-items: center;
}

.center-input {
  text-align: center;
}

.login-input {
  line-height: 1.1875;
  font-size: 1em;
  padding: 15px;
  webkit-font-smoothing: antialiased;

  width: 90%;
  border: 1px solid #cacaca;
  background-color: rgb(250, 255, 189);
  background-image: none;
  color: rgb(0, 0, 0);
}
