/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



main {
  height: 100vh;
  width: 100%;
}


a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.bar-header {
  flex: 0 0 100%;
  background-color: #2dbe60;
  position: relative;
  height: 4px;
  display: block;
}

subheader {
  display: flex;
  width: 100%;
  height: 51px;
}

header img {
  width: 200px;
  height: auto;
}

.create-account-tagline {
  font-family: webfont;
}

ul {
  list-style: none;
}

body {
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(243, 243, 243);
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 50px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
}


.login-form input[type="submit"]:last-child, .signup-form input[type="submit"]:last-child, .guest-login {
  cursor: pointer;
  line-height: 2.75;
  color: #ffffff;
  background-color: #2dbe60;
  width: 90%;
  padding: 15px;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  border-radius: 7px;
  text-align: center;
  white-space: normal;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  float: none;
  transition: all .2s ease;
  font: inherit;
  margin: 5px;
  vertical-align: baseline;
  align-items: flex-start;
  border-image: initial;
}

.login-form input[type="submit"]:last-child:hover, .signup-form input[type="submit"]:last-child:hover, .guest-login:hover {
  color: #ffffff;
  background-color: #28a956;
  border-color: #1b9848;
  text-decoration: none;
}

.button {
  text-align: center;
}

input {
  border-radius: 7px;
  width: 90%;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb;
}

textarea {
  width: 350px;
}

label {
  display: block;
}
